<div id="book" class="book_item span-18 last">
  <h3 class="title span-18 last"><%= book.title %></h3>
  <div class="span-2"><%= image_tag(book.image_url, class: 'cover_image') %></div>
  <div class="span-13">
    <ul class="book_information">
        <li>by <%= book.author %></li>
        <li>Course: <%= book.course %></li>
        <li>Condition: <%= book.condition %></li>
    </ul>
  </div>
  <div class="span-3 last">
    <ul class="book_information">
        <li class="price"><%= number_to_currency(book.price) %></li>
        <li class="contact-image"><a href="#"><%= image_tag("email.png", alt: "Contact the Seller") %></a></li>
    </ul>
  </div>
</div>