<div id="books" class="span-18 last">
    <div class="span-18 last">
        <ul class="book_controls">
          <li>
            <input type="button" id="add_book" value="Add a Book" class="menu_item add_book button">
          </li>
          <li>
            <input type="button" id="hide_books" value="Hide" class="menu_item button hide_button">
          </li>
          <li>
            <input type="button" id="delete_books" value="Delete" class="menu_item button delete_button">
          </li>
          <li>
            <input type="button" id="select_all_books" value="Select All" class="menu_item button select_all_button">
          </li>
        </ul>
    </div>
    <hr class="line">
    <%= render @books %>
</div>
<br />
<div id="modal_w" style="display: none">
    <%= form_for Book.new, :remote => true do |f| %>
      <div class="field">
        <%= f.label :isbn, "ISBN" %><br />
        <%= f.text_field :isbn %>
      </div>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :author %><br />
        <%= f.text_field :author %>
      </div>
      <div class="field">
        <%= f.label :course %><br />
        <%= f.text_field :course %>
      </div>
      <div class="field">
        <%= f.label :condition %><br />
        <%= f.select(:condition, [['Like New',"Like New"],['Excellent','Excellent'],['Good','Good'],['Acceptable','Acceptable'],['Poor','Poor']]) %>
      </div>
      <div class="field" style="display: none">
        <%= f.label :is_for_sale %><br />
        <%= f.select(:is_for_sale, [['Yes',true],['No',false]]) %>
      </div>
      <div class="field">
        <%= f.label :cover %><br />
        <%= f.file_field :cover %>
      </div>
      <div class="field">
        <%= f.label :price %><br />
        <%= f.text_field :price %>
      </div>
      <div class="actions">
        <%= f.submit "Add book", :class => 'menu_item push-5' %>
      </div>
    <% end %>
</div>


